# Generic ignore patterns
*~
*.o
*.a
*.moc
.git

# Logs etc.

# Windows project stuff
/bin
/obj
KLFClient/bin
KLFClient/obj
KLFServer/bin
KLFServer/obj
KSP_Data

# Windows runtime
*.exe
*.ilk
*.pdb
*.msi
*.dll

# Windows clutter
*.db
